@keyframes rcSliderTooltipZoomDownIn {
  0% {
    transform: scale(0, 0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    transform: scale(1, 1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(0, 0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}
.rc-slider {
  position: relative;
  width: 100%;
  height: 14px;
  padding: 5px 0;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-rail {
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #e0e3e4;
  border-radius: 6px;
}

.rc-slider-track {
  position: absolute;
  height: 8px;
  background-color: #298DFF;
  border-radius: 6px;
}

.rc-slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -6px;
  background-color: #298DFF;
  border: solid 2px #f5f5f6;
  border-radius: 50%;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  touch-action: pan-x;
}
.rc-slider-handle:focus {
  outline: none;
  box-shadow: none;
}
.rc-slider-handle:focus-visible {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.rc-slider-handle:hover {
  cursor: pointer;
}
.rc-slider-handle:active {
  cursor: pointer;
}

.rc-slider-mark {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  color: #ababab;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.rc-slider-mark-text-active {
  color: #666161;
}

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  pointer-events: none;
}

.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle {
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-dot {
  background-color: #fff;
  border-color: #ccc;
  box-shadow: none;
  cursor: not-allowed;
  cursor: not-allowed !important;
}
.rc-slider-disabled .rc-slider-mark-text {
  cursor: not-allowed !important;
}

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;
}
.rc-slider-vertical .rc-slider-rail {
  width: 4px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-track {
  bottom: 0;
  left: 5px;
  width: 4px;
}
.rc-slider-vertical .rc-slider-handle {
  margin-top: 0;
  margin-left: -5px;
  touch-action: pan-y;
}
.rc-slider-vertical .rc-slider-mark {
  top: 0;
  left: 18px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-step {
  width: 4px;
  height: 100%;
}
.rc-slider-vertical .rc-slider-dot {
  margin-left: -2px;
}

.rc-slider-tooltip-zoom-down-enter {
  display: block !important;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.rc-slider-tooltip-zoom-down-appear {
  display: block !important;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
  transform: scale(0, 0);
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.rc-slider-tooltip-zoom-down-leave {
  display: block !important;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-play-state: paused;
  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  animation-name: rcSliderTooltipZoomDownIn;
  animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  animation-name: rcSliderTooltipZoomDownOut;
  animation-play-state: running;
}

.rc-slider-tooltip {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.rc-slider-tooltip-hidden {
  display: none;
}

.rc-slider-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}

.rc-slider-tooltip-inner {
  min-width: 24px;
  height: 24px;
  padding: 6px 2px;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}

.rc-slider-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.rc-slider-grid .rc-slider-mark {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  font-size: 12px;
}
.rc-slider-grid .rc-slider-dot {
  position: absolute;
  bottom: -16px;
  width: 0px;
  height: 8px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  cursor: pointer;
}
.rc-slider-grid .rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-grid .rc-slider-dot-reverse {
  margin-right: -4px;
}

.rcs-sm .rc-slider-rail {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 6px;
}
.rcs-sm .rc-slider-track {
  position: absolute;
  height: 4px;
  border-radius: 6px;
}
.rcs-sm .rc-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: -5px;
}
.rcs-sm .rc-slider-mark {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  font-size: 12px;
}

.rcs-sky .rc-slider-track {
  background-color: #00acf0;
}
.rcs-sky .rc-slider-handle {
  background-color: #00acf0;
}

.rcs-cyan .rc-slider-track,
.rcs-info .rc-slider-track {
  background-color: #1ebccd;
}
.rcs-cyan .rc-slider-handle,
.rcs-info .rc-slider-handle {
  background-color: #1ebccd;
}

.rcs-green .rc-slider-track,
.rcs-success .rc-slider-track {
  background-color: #22af47;
}
.rcs-green .rc-slider-handle,
.rcs-success .rc-slider-handle {
  background-color: #22af47;
}

.rcs-yellow .rc-slider-track,
.rcs-warning .rc-slider-track {
  background-color: #ffbf36;
}
.rcs-yellow .rc-slider-handle,
.rcs-warning .rc-slider-handle {
  background-color: #ffbf36;
}

.rcs-red .rc-slider-track,
.rcs-danger .rc-slider-track {
  background-color: #f83f37;
}
.rcs-red .rc-slider-handle,
.rcs-danger .rc-slider-handle {
  background-color: #f83f37;
}

.rcs-blue .rc-slider-track {
  background-color: #0092ee;
}
.rcs-blue .rc-slider-handle {
  background-color: #0092ee;
}

.rcs-pink .rc-slider-track {
  background-color: #ed1b60;
}
.rcs-pink .rc-slider-handle {
  background-color: #ed1b60;
}

.rcs-purple .rc-slider-track {
  background-color: #ab26aa;
}
.rcs-purple .rc-slider-handle {
  background-color: #ab26aa;
}

.rcs-violet .rc-slider-track {
  background-color: #6640b2;
}
.rcs-violet .rc-slider-handle {
  background-color: #6640b2;
}

.rcs-primary .rc-slider-track,
.rcs-indigo .rc-slider-track {
  background-color: #3a55b1;
}
.rcs-primary .rc-slider-handle,
.rcs-indigo .rc-slider-handle {
  background-color: #3a55b1;
}

.rcs-teal .rc-slider-track {
  background-color: #009b84;
}
.rcs-teal .rc-slider-handle {
  background-color: #009b84;
}

.rcs-neon .rc-slider-track {
  background-color: #88c241;
}
.rcs-neon .rc-slider-handle {
  background-color: #88c241;
}

.rcs-lime .rc-slider-track {
  background-color: #d0d962;
}
.rcs-lime .rc-slider-handle {
  background-color: #d0d962;
}

.rcs-sun .rc-slider-track {
  background-color: #fde335;
}
.rcs-sun .rc-slider-handle {
  background-color: #fde335;
}

.rcs-orange .rc-slider-track {
  background-color: #ff9528;
}
.rcs-orange .rc-slider-handle {
  background-color: #ff9528;
}

.rcs-pumpkin .rc-slider-track {
  background-color: #ff6028;
}
.rcs-pumpkin .rc-slider-handle {
  background-color: #ff6028;
}

.rcs-brown .rc-slider-track {
  background-color: #7a5449;
}
.rcs-brown .rc-slider-handle {
  background-color: #7a5449;
}

.rcs-gold .rc-slider-track {
  background-color: #c1993f;
}
.rcs-gold .rc-slider-handle {
  background-color: #c1993f;
}

.rcs-grey .rc-slider-track,
.rcs-secondary .rc-slider-track {
  background-color: #9e9e9e;
}
.rcs-grey .rc-slider-handle,
.rcs-secondary .rc-slider-handle {
  background-color: #9e9e9e;
}

.rcs-dark .rc-slider-track {
  background-color: #324148;
}
.rcs-dark .rc-slider-handle {
  background-color: #324148;
}

.rcs-light .rc-slider-track {
  background-color: #f5f5f6;
}
.rcs-light .rc-slider-handle {
  background-color: #f5f5f6;
}

/*# sourceMappingURL=rc-slider.css.map */
