/*__________________________________________________________________;
[Variables]
Project:	Jampack
___________________________________________________________________*/
:root,
[data-bs-theme=light] {
  --bs-blue: #298DFF;
  --bs-indigo: #322BF3;
  --bs-purple: #C02FF3;
  --bs-pink: #E92990;
  --bs-brown: #954D15;
  --bs-violet: #7429F8;
  --bs-sky: #00B0FF;
  --bs-neon: #81E230;
  --bs-lime: #C2E939;
  --bs-sun: #FFEA00;
  --bs-pumpkin: #FF5700;
  --bs-gold: #C39749;
  --bs-smoke: #5e7d8a;
  --bs-red: #FF0000;
  --bs-orange: #FF9100;
  --bs-yellow: #FFC400;
  --bs-green: #00D67F;
  --bs-teal: #007D88;
  --bs-cyan: #18DDEF;
  --bs-black: #262a2e;
  --bs-white: #fff;
  --bs-gray: #9e9e9e;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #007D88;
  --bs-secondary: #6f6f6f;
  --bs-success: #00D67F;
  --bs-info: #18DDEF;
  --bs-warning: #FFC400;
  --bs-danger: #FF0000;
  --bs-light: #f7f7f7;
  --bs-dark: #262a2e;
  --bs-blue-rgb: to-rgb(#298DFF);
  --bs-indigo-rgb: to-rgb(#322BF3);
  --bs-purple-rgb: to-rgb(#C02FF3);
  --bs-pink-rgb: to-rgb(#E92990);
  --bs-brown-rgb: to-rgb(#954D15);
  --bs-violet-rgb: to-rgb(#7429F8);
  --bs-sky-rgb: to-rgb(#00B0FF);
  --bs-neon-rgb: to-rgb(#81E230);
  --bs-lime-rgb: to-rgb(#C2E939);
  --bs-sun-rgb: to-rgb(#FFEA00);
  --bs-pumpkin-rgb: to-rgb(#FF5700);
  --bs-gold-rgb: to-rgb(#C39749);
  --bs-smoke-rgb: to-rgb(#5e7d8a);
  --bs-red-rgb: to-rgb(#FF0000);
  --bs-orange-rgb: to-rgb(#FF9100);
  --bs-yellow-rgb: to-rgb(#FFC400);
  --bs-green-rgb: to-rgb(#00D67F);
  --bs-teal-rgb: to-rgb(#007D88);
  --bs-cyan-rgb: to-rgb(#18DDEF);
  --bs-gray-rgb: to-rgb(#9e9e9e);
  --bs-primary-rgb: to-rgb(#007D88);
  --bs-secondary-rgb: to-rgb(#6f6f6f);
  --bs-success-rgb: to-rgb(#00D67F);
  --bs-info-rgb: to-rgb(#18DDEF);
  --bs-warning-rgb:to-rgb(#FFC400);
  --bs-danger-rgb: to-rgb(#FF0000);
  --bs-light-rgb: to-rgb(#f7f7f7);
  --bs-dark-rgb: to-rgb(#262a2e);
  --bs-white-rgb: to-rgb(#fff);
  --bs-black-rgb: to-rgb(#262a2e);
  --bs-body-color-rgb: to-rgb(#6f6f6f);
  --bs-body-bg-rgb: to-rgb(#fff);
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0,
    0,
    0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75
  );
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #6f6f6f;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #d8d8d8;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #007D88;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #3d9ca5;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #007D88;
  --bs-highlight-bg: #FF9100;
  --bs-body-font-family: "DM Sans", sans-serif;
  --bs-text-opacity: 1;
  --bs-bg-opacity: 1;
  --bs-shadow-color: to-rgb(#2F343A);
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
}

/*# sourceMappingURL=variables.css.map */
